body {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
}
h1 {
  font-size: 60px;
  color: orange;
}

.float-left {
  font-size: 40px;
}

.col-3 {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.col {
  font-size: 20px;
  font-weight: bold;
}

.container {
  max-width: 650px;
  border-radius: 20px;
  margin-top: 10px;
}

ul {
  text-align: right;
  list-style-type: none;
}

li {
  font-size: 18px;
}

.row align-items-start {
  text-align: center;
}
